// Extiende un archivo de diseño (layout) para mantener la estructura común de la página.
extends layout
// Define un bloque llamado 'content' que se llenará con contenido específico en plantillas que extienden esta plantilla.
block content
  // Crea un encabezado de nivel 1 (h1) y muestra el valor de la variable 'title' como contenido.
  h1= title
  // Crea un párrafo (p) y muestra un mensaje de bienvenida que incluye el valor de 'title'.
  p Welcome to #{title}
