// Define el tipo de documento HTML.
doctype html
// Comienza el elemento HTML.
html
// Encabezado de la página.
head
// Título de la página obtenido de la variable 'title'.
title= title
// Enlace a una hoja de estilo CSS.
link(rel='stylesheet', href='/stylesheets/style.css')
  // Cuerpo de la página.
  body
  // Define un bloque llamado 'content' que se llenará con contenido específico en plantillas que extiendan esta plantilla.
block content
    
